<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>

<body style="background-color:lightblue">
    <h1>Restaurant Data</h1>
    <table border="1" width="100%" style="color:red">
        <tr>
            <th>Resturant ID</th>
            <th>Name</th>
            <th>Borough</th>
            <th>Cuisine</th>
            <th>Address</th>
            <th>Grades</th>
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.restaurant_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.borough}}</td>
            <td>{{this.cuisine}}</td>
            <td>
                {{!-- {{#each this.address as |a|}} --}}
                {{!-- {{a.building}},{{a.street}},{{a.zipcode}} --}}
                {{!-- {{/each}} --}}
                {{this.address.building}},
                {{#each this.address.coord as |c|}}
                {{c}}&nbsp;&nbsp;
                {{/each}},
                {{this.address.street}},
                {{this.address.zipcode}}
            </td>
            <td>
                {{#each this.grades as |g|}}
                {{g.grade}}={{g.score}},
                {{/each}}
            </td>
        </tr>
        {{/each}}
    </table>
</body>

</html>