<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Web Framework Project Phase 2</title>
</head>

<body>
    <h1>Restaurant Data Tabular Format</h1>
    <table border="1" width="100%">
        <tr>
            <th>Resturant ID</th>
            <th>Name</th>
            <th>Borough</th>
            <th>Cuisine</th>
            <th>Address</th>
            <th>Grades</th>
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.restaurant_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.borough}}</td>
            <td>{{this.cuisine}}</td>
            <td>
                {{this.address.building}},
                {{#each this.address.coord as |c|}}
                {{c}}&nbsp;&nbsp;
                {{/each}},
                {{this.address.street}},
                {{this.address.zipcode}}
            </td>
            <td>
                {{#each this.grades as |g|}}
                {{g.grade}}={{g.score}},
                {{/each}}
            </td>
        </tr>
        {{/each}}
    </table>
</body>

</html>